{% extends "glowify/base.html" %}
{% load static %}

{% block content %}

<section class="about-hero">

    <!-- background image -->
    <img src="{% static 'glowify/images/about1.png' %}" class="about-bg">

    
</section>





<section class="about-story">

<div class="about-text">

<h2>Our story</h2>
<p>
At Glowify, beauty is more than makeup — it’s confidence,
self-expression, and self-love. We create high-quality,
skin-friendly cosmetics designed to enhance your natural glow.
</p>

<h2>Our Mission</h2>
<p>
To make beauty accessible, empowering, and effortless for everyone.
From bold lip shades to everyday essentials.
</p>

</div>

<div class="about-image">
<img src="{% static 'glowify/images/about2.png' %}">
</div>

</section>







<section class="core-values">

<h2 class="values-title">Our Core Values</h2>

<div class="values-container">

<div class="value-card">

<div class="value-icon">👑</div>

<h3>Premium Quality</h3>

<p>
We create high-performance beauty products with carefully
selected, skin-loving ingredients.
</p>

</div>


<div class="value-card">

<div class="value-icon">❤️</div>

<h3>Empowered Confidence</h3>

<p>
Our mission is to inspire confidence and celebrate
individuality through every shade.
</p>

</div>


<div class="value-card">

<div class="value-icon">🌿</div>

<h3>Ethical Beauty</h3>

<p>
Cruelty-free, responsible, and committed to sustainable
practices.
</p>

</div>

</div>

</section>






<section class="founder-section">

<div class="founder-container">

<div class="founder-image">
<img src="{% static 'glowify/images/brand.png' %}" alt="Founder">
</div>

<div class="founder-text">

<h2>Meet the Founder</h2>

<p>
Behind every shade, there is a story.
Elena started this brand with a simple vision — to create beauty products
that combine luxury, performance, and confidence.
</p>

<p>
With a passion for skincare and makeup innovation, she believed that every
woman deserves products that enhance natural beauty without compromise.
</p>

<p>
What began as a dream soon became a mission: To design high-quality,
cruelty-free cosmetics that empower individuals to express themselves
fearlessly.
</p>

<p>
Her dedication to excellence, detail, and modern beauty trends continues
to shape every product we create.
</p>

</div>

</div>

</section>






<section class="commitment-section">

<div class="commitment-box">

<h2>Our Unwavering Commitment</h2>

<p>
At our core, we are dedicated to delivering beauty without compromise.
</p>

<p>
We are committed to creating high-quality, skin-friendly products that combine
innovation, safety, and performance.
</p>

<p>
Every formula is thoughtfully developed to ensure comfort,
long-lasting wear, and visible results.
</p>

<a href="#" class="commitment-btn">
View sustainability Report
</a>

</div>

</section>
{% endblock %}